@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }

  .showcase-content {
    height: 100vh;
  }

  .info-section {
    display: flex;
    flex-direction: column;
  }

  #showcase::before {
    content: "";
    background: url("../images/mediano.jpg") no-repeat center center;
  }

  .nosotros-content{
    grid-template-areas:
    "titular titular"
    "personal personal"
    "descripcion descripcion"
  }
}
